<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">BiaScraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/about']">About</a></li>
    </ul>
  </div>
</nav>
<div class="about-block why">
  <div class="text-center">
    <h1>BiaSearch Mission and Goal</h1>
    <div class="about-content">
      <p>It is sometimes hard to know whether or not the news you are receiving is impartial. In fact, every source owns an
      innate bias. In recent times, it seems many people and new sources have split to the extremes of the political spectrum. Some are certainly more extreme than others, but regardless, one should not limit themselves
      to one source. And so, we created BiaSearch with the goal of expanding the news a person receives.<br><br>Instead of labeling a single source as more or less accurate than any other, BiaSearch enables a person
      to read a variety of sources in the hopes of establishing a more impartial intake of news. We hope that people will acknowledge the biases and fallacies in our daily news, and use BiaSearch to
      become more informed citizens.</p>
    </div>
  </div>
</div>
<div class="about-block how">
  <div class="text-center">
    <h1>How does it work?</h1>
    <div class="about-content">
      <p>The front end of the application was created using Angular 2. The site is hosted on AWS. </p>
    </div>
  </div>
</div>
<div class="about-block who">
  <div class="text-center">
    <h1>Meet the Team (of 2)</h1>
  </div>
  <div class="row row-centered">
    <div class="col-sm-4 col-centered">
      <div class="who-block">
        <img class="img-circle" src="../assets/Ian.png">
        <h2>Ian McDonald</h2>
        <p>Hailing from Ripon, California, Ian is a Senior at UC Berkeley studying Computer Science.
          Ian faces the moral contradiction of ridding the world of trash (as a trashman), while
          also simultaneously being trash himself. (CHANGE AS U PLEASE)He is a backend wizard and responsible for much of the applications
          architecture and functionality. <br><br></p>
        <input type="button" class="btn btn-info" value="Ian's Site" onclick="location.href = 'http:\\www.iancmcdonald.com';">
      </div>
    </div>
    <div class="col-sm-4 col-centered">
      <div class="who-block">
        <img class="img-circle" src="../assets/Tristan.png">
        <h2>Tristan Burke</h2>
        <p>Born in New Jersey, Tristan lived most of his life in London before coming to UC Berkeley. He is a
          Junior studying Computer Science and looking to combine his love for his music with the technical skills
          he's picked up at Berkeley. Tristan wrote much of the frontend html and css for this application.<br><br></p>
        <input type="button" class="btn btn-info" value="Tristan's Site" onclick="location.href = 'http:\\www.tristan-burke.com';">
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid biasfooter">
  <div class="text-center">
    <p>All Rights Reserved - Copyright Tristan Burke, Ian McDonald &copy; 2017 </p>
  </div>
</footer>

