<h1>Hello world!</h1>
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="description" content="BiaScraper is a tool to expand your... idk yet ">-->
  <!--<meta name="authors" content="Tristan Burke, Ian McDonald">-->

  <!--<title>BiaScraper</title>-->
<!--</head>-->
<!--<body id="page-top">-->
<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand" href="index.html">BiaScraper</a>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li><a href="About.html">About</a></li>-->
      <!--<li><a href="Team.html">Team</a></li>-->
      <!--<li><a href="Contact.html">Contact</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<!--<div class="header-content">-->
  <!--<div class="header-banner">-->
    <!--<h1>BiaScraper</h1>-->
    <!--<h3>Slogan goes here: it will be dope</h3>-->
    <!--<p>Input an url to an article on any well known website and be presented-->
      <!--with </p>-->
  <!--</div>-->
  <!--<input id="url-input" name="article" placeholder="name" class="main-input" type="text"/>-->
  <!--<button id="url-button" name="urlbutton" class="find-button">Find!</button>-->
<!--</div>-->
<!--<div class="main-content">-->
  <!--<div class="placeholder-content text-center">-->
    <!--<p>This is the placeholder text we will have when a user has not made a request yet. <br>-->
      <!--Maybe we will describe mission, ourselves, why bees are dying at an alarming rate? <br>-->
      <!--Maybe we include an image. Mostly we tell them to make an article request because we <br>-->
      <!--really have nothing interesting to say.-->
    <!--</p>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div>-->
      <!--<div class="col-sm-4">-->
        <!--<div class="article">-->
          <!--<div class="text-center">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<footer class="container-fluid biasfooter text-center">-->
  <!--<p>All Rights Reserved - Copyright Tristan Burke, Ian McDonald &copy; 2017 </p>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
