<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BiaScraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="About.html">About</a></li>
      <li><a href="Team.html">Team</a></li>
      <li><a href="Contact.html">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="header-content">
  <div class="header-banner">
    <h1>BiaSearch</h1>
    <h3>100% money-back guarantee!</h3>
    <p>Input an url to an article on any well known website and be presented
      with similar articles from sources with differing biases.</p>
  </div>
  <input [(ngModel)]="url" id="url-input" name="article" placeholder="url to article" class="main-input" type="text"/>
  <button (click)="getArticles(url)" id="url-button" name="urlbutton" class="find-button">Find!</button>
</div>
<div class="main-content">
  <div *ngIf="placeholder_toggle" class="placeholder-content text-center" >
    <p>This is the placeholder text we will have when a user has not made a request yet. <br>
      Maybe we will describe mission, ourselves, why bees are dying at an alarming rate? <br>
      Maybe we include an image. Mostly we tell them to make an article request because we <br>
      really have nothing interesting to say.
    </p>
  </div>
  <div *ngIf="loading" class="placeholder-content text-center" >
      <h3>Hold tight while we find some articles for you! :)</h3>
      <img src="../assets/Rolling.gif">
  </div>
  <div class="loading">
  </div>
  <div class="article-display">
    <div class="row">
        <div *ngFor="let article of articles">
          <div class="col-sm-4">
            <div class="article">
              <div class="text-center">
                <h3>{{article.title}}</h3>
                <h4>{{article.source}}</h4>
                <img src={{article.imageUrl}}>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <footer class="container-fluid biasfooter">
    <div class="text-center">
      <p>All Rights Reserved - Copyright Tristan Burke, Ian McDonald &copy; 2017 </p>
    </div>
  </footer>
</div>
