/** Theme **/
/*
    Color-Scheme:

 */

/**  ================================
                Home Page
     ================================ **/

.main-input {
  position: relative;
  top: 70px;
  width: 400px;
  border: none;
}

.find-button {
  position: relative;
  top: 70px;
}

.main-input:active, .main-input:focus, .main-input:hover {
  outline: none;
}

/**  ================================
               Main content
     ================================ **/
.placeholder-content {
  position: relative;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.placeholder-content p {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  padding: 0px;
  font-size: 16px;
}
.placeholder-content h3 {
  font-size: 18px;
  padding-bottom: 20px;
}
.placeholder-content img{
  width: 75px;
}
.article-display {
  padding: 20px;
}

.article {
  height: 350px;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  overflow: hidden;
  align-content: center;
}

.article:hover {
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.article h3, h4 {
  margin: 0;
  padding: 0;
}
.article h3 {
  font-size: 17px;
  font-weight: 900;
}

.article h4 {
  font-size: 13px;
}

.article a:hover, a:active, a:focus {
  text-decoration: none;
}

.article img {
  width: 225px;
  height: 125px;
}
.article .content {
  height: 200px;
  width: 255px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}
.article. .content .fade{
  position: absolute;
  width:100%;
  margin: 0;
  bottom:0;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
}

.biasfooter {
  background-color: #656565;
}
