body {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
  color: #000000;
}

/**  ================================
               Nav Bar
     ================================ **/

.navbar {
  background-color: white;
  color: #656565;
}

.navbar-default {
  border-bottom: solid 3px #656565;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #78eeff;
  color: #656565;
}

.navbar-default .navbar-header a.navbar-brand {
  font-weight: 500;
  background-color: white;
  color: #57baff;
}
/** Header **/
.header-content {
  height: 250px;
  width: 100%;
  align-content: center;
  text-align: center;
  background: #749bff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #78eeff, #57baff); /* For Safari */
  border-bottom: solid 3px #656565;
}

.header-banner {
  position: relative;
  top: 50px;
}

.header-banner h1 {
  margin: 0;
  color: white;
  font-size: 50px;
}

.header-banner h3 {
  color: #656565;
  margin: 0;
  font-size: 20px;
}

.header-banner p {
  color: #656565;
  margin: 0;
  font-size: 14px;
}

/** Footer **/

.biasfooter {
  bottom: 0px;
  color: white;
  padding-top: 30px;
  background-color: #656565;
}

