/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
  color: #000000;
}
